# Пример конфигурации Jitsi

PUBLIC_URL=https://YOUR_EXTERNAL_IP:8443
HTTPS_PORT=8443
DOCKER_HOST_ADDRESS=192.168.1.26
TZ=Europe/Moscow

# Порты JVB
JVB_PORT=10000
JVB_TCP_PORT=
ENABLE_JVB_TCP=0

# Кодеки
VIDEO_CODEC=VP8
ENABLE_VP9=false
VIDEO_BITRATE=512

# Отключить ненужное
#ENABLE_LETSENCRYPT=1
#ENABLE_JIGASI=1
#ENABLE_ETHERPAD=1
#ENABLE_JIBRI=1
